<div class="jumbotron" style="margin-top: -50px;margin-bottom: 15px;padding: 0;">
    <div class="container">
        <h3>Front credentials</h3>
        <ul>
            <li>username : toto</li>
            <li>password : 12345678</li>
        </ul>
        <h3>Back credentails</h3>
        <ul>
            <li>username : root</li>
            <li>password : toor</li>
        </ul>
    </div>
</div>
<div class="card login" ng-controller="Login" style="margin-top: 0;">
    <alert-directive></alert-directive>
    <div class="card-header card-inverse card-primary"><h1><center>Angular Demo</center></h1></div>
    <div class="card-block">
        <form name="loginForm" ng-submit="login(user)" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" ng-model="user.username" autofocus required="required">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" required="required">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" style="display: block;width: 100%;" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid">
            </div>
            <div class="form-group"><a href="#!/signup" class="btn btn-success" style="display: block;width: 100%;">Subscribe</a></div>
        </form>
    </div>
    <div class="card-footer text-muted">
        <center>Created by <a href="https://www.linkedin.com/in/mehdimoalla/" target="_blank">Mehdi MOALLA</a></center>
    </div>
</div>