<div ng-controller="ItemsIndex">
    <div class="row"><a href="#!/items/new" class="btn btn-primary">Create Item</a></div>
    <div class="row" style="margin-top: 10px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" ng-model="items">
                    <td>{{item.name}}</td>
                    <td><span class="badge badge-info">{{item.category_name}}</span></td>
                    <td style="width: 20%;">
                        <a href="#!/items/update" class="btn btn-warning">Update</a>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>